{% extends "base.html" %}

{% block title %}商品詳細{% endblock %}

{% block content %}
<h1>商品詳細</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>商品名</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ product.price }} 円</td>
        </tr>
        <tr>
            <th>カテゴリ</th>
            <td>{{ product.category }}</td>
        </tr>
        <tr>
            <th>画像</th>
            <td>
                {% if product.image %}
                    <img src="{{ product.image.url }}" style="width:200px; height:auto;">
                {% else %}
                    (画像なし)
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>商品説明</th>
            <td>{{ product.description|linebreaks }}</td>
        </tr>
    </tbody>
</table>

<a href="{% url 'list' %}" class="btn btn-secondary mt-3">戻る</a>
{% endblock %}
